body {
  background-color: blanchedalmond;
  transition: 0.8s ease;
}

.darkTheme {
  background-color: #050505;
  color: beige;
  transition: 0.8s ease;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff0d2;
}

.headerDarkTheme {
  background-color: #0c0c0c;
}

.header-p {
  text-align: center;
  font-size: larger;
}

.moon,
.sun {
  position: relative;
  left: 1em;
  transition: 1s ease-out;
  width: 2.3em;
  border: 0.1em solid #050505;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
}

.moon {
  position: relative;
  left: 2em;
  transition: 1s ease;
}
