body {
  background-color: blanchedalmond;
  transition: 0.8s ease-out;
  color: #0c0c0c;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat Subrayada", "Roboto", sans-serif;
}

p,
i,
a,
li {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

.darkTheme {
  background-color: #050505;
  color: beige;
  transition: 0.8s ease-out;
}

.App-div {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  background-color: #fff2d4;
}

.headerDarkTheme {
  background-color: #0c0c0c;
}

.header-p {
  text-align: center;
  font-size: x-large;
  font-family: "Montserrat Subrayada", "Open Sans", sans-serif;
}

.moon,
.sun {
  position: relative;
  left: 1em;
  transition: 1s ease-out;
  width: 2.3em;
  border: 0.1em solid #050505;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
}

.moon {
  position: relative;
  left: 2em;
  transition: 1s ease;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  justify-content: center;
  align-items: center;
  background-color: #fff2d4;
}

.logo {
  width: 2.5em;
}
