body {
  background-color: blanchedalmond;
  transition: 0.8s ease-out;
  color: #0c0c0c;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat Subrayada", "Roboto", sans-serif;
}

p,
i,
a,
li {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

.darkTheme {
  background-color: #050505;
  color: beige;
  transition: 0.8s ease-out;
}

.App-div {
  display: flex;
  flex-direction: column;
}

header {
  margin: -0.5em 0em 0em -0.5em;
  padding-left: 1em;
  display: flex;
  /*position: fixed;
  top: 0;
  left: 0;
  */
  width: 100%;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  background-color: #fff7d9;
}

.navDarkTheme {
  background-color: #111111;
}

.header-p {
  text-align: center;
  font-size: x-large;
  font-family: "Montserrat Subrayada", "Open Sans", sans-serif;
}

.moon,
.sun {
  position: relative;
  left: 1em;
  transition: 1s ease-out;
  width: 2.3em;
  border: 0.1em solid #050505;
  border-radius: 50%;
  box-shadow: 0px 0px 5px;
}

.moon {
  position: relative;
  left: 2em;
  transition: 1s ease;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: #fff7d9;
  transition: 0.5s ease;
  z-index: 1;
}

footer:hover {
  height: 4em;
  transition: 0.5s ease;
}

footer:hover .logo {
  width: 4em;
  margin-right: 3em;
  transition: 0.5s ease;
}

footer:hover .logo2 {
  width: 2.5em;
  margin-right: 3em;
  transition: 0.5s ease;
}

.logo {
  width: 2.5em;
  margin-right: 1.5em;
  transition: 0.5s ease;
}

.logo2 {
  width: 2em;
  margin-right: 1.5em;
  transition: 0.5s ease;
}

/* */

.mainContent{
  width: 100%;
  padding-top: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  */
}

.mainContent:hover .mainLogo{
  transform: translateX(-30px);
  transition: ease-in 0.5s;
}

.mainContent:hover .mainLogoMirror{
  transform: translateX(30px);
  transition: ease-in 0.5s;
}

.mainLogo{
  width : 45em;
  transition: ease 0.5s;
  animation: start 0.65s ease;
}

@keyframes start {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.mainLogoMirror{
  background-color: blanchedalmond;
  position: absolute;
  /*left: 0;*/
  width : 45em;
  clip-path: polygon(0% 100%, 0% 120%, 100% -21%, 100% 100%);
  transition: ease 0.5s;
  animation: start 0.65s ease;
  /*animation: slashRight 0.5s ease-in forwards;*/
  /*animation-delay: 0.5s;*/
}

@keyframes slashRight {
  0% {
    transform: translateX(0px);
  }
  100%{
    transform: translateX(30px);
  }
}

.loaderImage { 
  width: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5em 0 0 -5em;
}

.loader{
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5em 0 0 -5em;
  animation: loaderRotate 2s ease-in-out infinite;
 
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 28;
  stroke: blanchedalmond;
  stroke-dasharray: 410;
  stroke-dashoffset: 410;
  animation: loadCircle 2s ease-in infinite;
}

@keyframes loadCircle {
  0%, 100% {
    stroke-dashoffset: 410;
  }

  50% {
    stroke-dashoffset: 0;
  }

  50.1%{
    stroke-dashoffset: 820;
  }
}

/**/
.services, .project, .contact {
  height: 90%;
  width: 100%;
  position:fixed;
  top:3.5em;
  background-color: blanchedalmond;
  transition: 0.65s ease-in-out;
}

.services-h2{
  position: relative;
  right:2em;
  background-color: #4175af;
  writing-mode:sideways-rl;
  margin-top: 0em;
  padding:0.2em 0 0.2em 0.3em;
  border-radius: 0.5em 0 0 0.5em;
  transition: 0.5s linear;
  animation:pop 0.65s ease; 
}

@keyframes pop {
  from {
    right: 0em;
  }
  
}

.project-h2{
  position: relative;
  right:2em;
  background-color: #4175af;
  writing-mode:sideways-rl;
  padding:0.2em 0 0.2em 0.3em;
  border-radius: 0.5em 0 0 0.5em;
  transition: 0.5s linear;
  animation:pop 0.65s ease; 
}

.contact-h2{
  position: relative;
  right:2em;
  background-color: #4175af;
  writing-mode:sideways-rl;
  padding:0.2em 0 0.2em 0.3em; 
  border-radius: 0.5em 0 0 0.5em;
  transition: 0.5s linear;
  animation:pop 0.65s ease; 
}

.services-p,
.project-p,
.contact-p {
  margin-left: 1em;
}

.services-text {
  columns: 2;
}